<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sea.user">

    <supports-screens android:requiresSmallestWidthDp="600" />

    <application
        >
        <activity
            android:name=".activity.mall.order.detail.MallOrderDetailActivity"
            android:label="@string/title_MallOrderDetail" />
        <activity
            android:name=".activity.mall.order.confirm.MallConfirmOrderActivity"
            android:label="@string/title_MallConfirmOrder" />
        <activity
            android:name=".activity.mall.order.result.OrderResultActivity"
            android:label="@string/order_successful" />
        <activity
            android:name=".activity.mall.order.list.ShopOrderListActivity"
            android:label="@string/mine_order" />
        <activity
            android:name=".activity.mall.car.ShopCarActivity"
            android:label="@string/title_ShopCar" />
        <activity
            android:name=".activity.mall.detail.ShopDetailActivity"
            android:label="@string/title_ShopDetail" />
        <activity
            android:name=".activity.mall.list.MallListActivity"
            android:label="@string/title_MallList" />
        <activity
            android:name=".activity.mall.search.SearchStoreActivity"
            android:label="@string/title_SearchStore" />
        <activity
            android:name=".activity.mall.select.SelectStoreActivity"
            android:label="@string/title_SelectStore" />
        <activity
            android:name=".activity.mall.SeaFoodMallActivity"
            android:label="@string/title_SeaFoodMall" />
        <activity
            android:name=".activity.center.UserCenterActivity"
            android:label="@string/user_center"
            android:theme="@style/grayNoActionBarTheme" />
        <activity
            android:name=".activity.integral.mall.detail.IntegralShopDetailActivity"
            android:label="@string/title_IntegralShopDetail" />
        <activity
            android:name=".activity.integral.shop.ExchangeShopActivity"
            android:label="@string/title_ExchangeShop" />
        <activity
            android:name=".activity.shop.order.MineOrderActivity"
            android:label="@string/mine_order" />
        <activity
            android:name=".activity.integral.detail.IntegralDetailActivity"
            android:label="@string/title_IntegralDetail"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.integral.exchange.ExchangeListActivity"
            android:label="@string/title_ExchangeList"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.integral.mall.IntegralMallActivity"
            android:label="@string/title_IntegralMall"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.address.list.AddressListActivity"
            android:label="@string/title_AddressList"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.address.AddAddressActivity"
            android:label="@string/edit_address"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.set.SetActivity"
            android:label="@string/set"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.login.LoginActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/NoActionBarTheme" />
        <activity
            android:name=".activity.register.RegisterActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/NoActionBarTheme" />
        <activity
            android:name=".activity.inform.FillInformActivity"
            android:screenOrientation="portrait"
            android:theme="@style/NoActionBarTheme" />
        <activity
            android:name=".activity.password.ForgetPasswordActivity"
            android:screenOrientation="portrait"
            android:theme="@style/NoActionBarTheme" />
        <activity
            android:name=".activity.wallet.MineWalletActivity"
            android:label="@string/mine_wallet"
            android:screenOrientation="portrait" />
    </application>

</manifest>