<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sea.custom">

    <application>
        <activity
            android:name=".ui.store.StoreListActivity"
            android:label="@string/title_StoreList" />
        <activity
            android:name=".ui.membership.MembershipModeActivity"
            android:label="@string/title_MembershipMode" />
        <activity
            android:name=".ui.custom.MineCustomActivity"
            android:label="@string/title_MineCustom" />
        <activity
            android:name=".ui.club.match.ClubMatchActivity"
            android:label="@string/title_ClubMatch" />
        <activity
            android:name=".ui.collection.CollectionActivity"
            android:label="@string/mine_collection" />
        <activity
            android:name=".ui.set.SetActivity"
            android:label="@string/set" />
        <activity
            android:name=".CustomMainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/NoActionBarTheme" />
    </application>

</manifest>