<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sea.custom">

    <application>
        <activity
            android:name=".ui.delicacy.store.StoreDelicacyActivity"
            android:label="@string/title_StoreDelicacy" />
        <activity
            android:name=".ui.member.MemberCustomActivity"
            android:label="@string/title_MemberCustom" />
        <activity
            android:name=".ui.delicacy.vr.StoreVrActivity"
            android:label="@string/title_StoreVr" />
        <activity
            android:name=".ui.delicacy.introduce.DelicacyIntroduceActivity"
            android:label="@string/title_DelicacyIntroduce" />
        <activity
            android:name=".ui.delicacy.report.CheckReportActivity"
            android:label="@string/title_CheckReport" />
        <activity
            android:name=".ui.store.StoreListActivity"
            android:label="@string/title_StoreList" />
        <activity
            android:name=".ui.membership.MembershipModeActivity"
            android:label="@string/title_MembershipMode" />
        <activity
            android:name=".ui.custom.MineCustomActivity"
            android:label="@string/title_MineCustom" />
        <activity
            android:name=".ui.vr.VrDetailActivity"
            android:theme="@style/NoActionBarTheme" />
        <activity
            android:name=".ui.club.match.ClubMatchActivity"
            android:label="@string/title_ClubMatch" />
        <activity
            android:name=".ui.collection.CollectionActivity"
            android:label="@string/mine_collection" />
        <activity
            android:name=".ui.set.SetActivity"
            android:label="@string/set" />
        <activity
            android:name=".ui.club.about.AboutClubActivity"
            android:label="@string/about_club" />
        <activity
            android:name=".ui.club.activity.ClubActivityActivity"
            android:label="@string/club_activity" />
        <activity
            android:name=".ui.delicacy.comment.DelicacyCommentActivity"
            android:label="@string/club_activity" />
        <activity
            android:name=".ui.result.ClubSearchResultActivity"
            android:label="@string/clubSearchResult" />
        <activity
            android:name=".ui.result.DelicacyMakeResultActivity"
            android:label="@string/delicacyMakeSearchResult" />
        <activity
            android:name=".ui.result.EntertainmentSearchResultActivity"
            android:label="@string/entertainmentSearchResult" />
        <activity
            android:name=".ui.result.XsDelicacyResultActivity"
            android:label="@string/xsSearchResult" />
        <activity
            android:name=".ui.result.ClubMatchResultActivity"
            android:label="@string/clubMatchSearchResult" />
        <activity
            android:name=".ui.result.ClubActivityResultActivity"
            android:label="@string/clubActivitySearchResult" />
        <activity
            android:name=".CustomMainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/NoActionBarTheme" />
    </application>

</manifest>